@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Retro+Gaming');

html, body {
    padding: 0px;
    margin: 0px;
}

body {
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('https://i.pinimg.com/originals/24/0e/7f/240e7f147e24826d3e151acfa72309a8.gif');
    background-color: #242424;
    background-position: center;
    height: 100%;
    width: 100%;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

#container #logo {
    width: 400px;
    margin-top: -50px;
    opacity: 0.8;
    transition: opacity 0.2s;
}

#container #logo:hover {
    opacity: 1;
}

#creditsTag {
    position: absolute;
    left: 30px;
    top: 30px;
    font-size: 15px;
    font-family: 'Retro Gaming';
    color: #ffe8cc;
    opacity: 0.8;
    transition: opacity 0.2s;
}

#creditsTag:hover {
    opacity: 1;
}

#credits {
    position: absolute;
    left: 150px;
    top: 30px;
    opacity: 0;
    transition: opacity 0.2s;
}

#credits a {
    font-size: 15px;
    font-family: 'Retro Gaming';
    color: #ffe8cc;
}

#discordLink {
    position: absolute;
    text-decoration: none;
    left: 30px;
    top: 60px;
    font-size: 15px;
    font-family: 'Retro Gaming';
    color: #ffe8cc;
    opacity: 0.8;
    transition: opacity 0.2s;
}

#discordLink:hover {
    opacity: 1;
}

#discordDiv {
    position: absolute;
    left: 150px;
    top: 60px;
    opacity: 0;
    transition: opacity 0.2s;
}

#discordDiv a {
    font-size: 15px;
    font-family: 'Retro Gaming';
    color: #ffe8cc;
}

#one, #two div, #three, #four {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    opacity: 0.8;
    transition: opacity 0.2s;
}

#one:hover, #two div:hover, #three:hover, #four:hover {
    opacity: 1;
}

#container div .header {
    font-family: 'Retro Gaming';
    font-size: 25px;
    color: #f2b544;
    text-shadow: -1px 0 #4a2d0a, 0 3px #4a2d0a, 5px 0 #4a2d0a, 0 2px #4a2d0a;
}

#container div .desc {
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 600;
    color: #ffe8cc;
    margin-top: 5px;
}

#container #one {
    margin-top: 20px;
}

#container #two {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
}

#container #two div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
    margin-right: 15px;
}

#container #button {
    font-size: 25px;
    font-family: 'Retro Gaming';
    background-color: #f2b544;
    padding: 10px 20px 10px 20px;
    color: #4a2d0a;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #4a2d0a;
    opacity: 0.8;
    transition: opacity 0.2s, box-shadow 0.2s;
    margin-top: 50px;
}

#container #button:hover {
    box-shadow: 0px 0px 5px #f2b544;
    opacity: 1;
}
